.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #111;
  color: white;
  padding: 20px;
  text-align: center;
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)),
    url("https://media.istockphoto.com/photos/distressed-wooden-boards-picture-id624697496?b=1&k=20&m=624697496&s=170667a&w=0&h=AwbSAVBmN0BU1V2zpcYR4eAU7cXjPCPB0puo7alZIUU=");
    border-bottom: 1px solid #d7ae8a;
}

.container ul {
  list-style: none;
  margin-top: 15px;
}

.container h3 {
  font-size: 2em;
  color: #d7ae8a;
}

.container li {
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container h4 {
  padding-left: 10px;
}

.social_links {
  display: flex;
  justify-content: space-evenly;
}

.social_links li {
  justify-content: center;
  padding-top: 6px;
}

.derechos {
  text-align: center;
  padding: 10px 0;
  background-color: #111;
  color: white;
}
