.header {
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav {
  display: flex;
  align-items: center;
  background-color: #ac7443;
  height: 176px;
  justify-content: center;
  margin-top: 0px;
}

.logo_container {
  z-index: 2;
  margin-top: 70px;
}

.menu {
  background-color: #202020;
  display: flex;
  position: absolute;
  z-index: 1;
  top: 176px;
  left: 0;
  width: 100%;
  height: calc(100vh - 225px);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: 0.5s all ease;
  color: white;
  height: 90vh;
}

.menu_disabled {
  left: -100%;
  position: absolute;
}

.menu_item {
  list-style: none;
  margin: 20px 0;
  font-size: 1.8em;
}

.menu_item_a :hover {
  color: #c58053;
}

.hamburg {
  position: absolute;
  right: 15px;
  display: grid;
  cursor: pointer;
}

@media (width > 950px) {
}
